[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
yelp = "*"
python-dotenv = "*"
slack-sdk = "*"
slackeventsapi = "*"
newsapi-python = "*"
pytest-mock = "*"
Flask = "*"
python-dateutil = "*"
pytz = "*"
pytest = "*"
schedule = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
google = "*"
googletrans = "==3.1.0a0"
wikipedia = "*"
Pillow = "*"

[requires]
python_version = "3.9"
