[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
yelp = "*"
python-dotenv = "*"
slack-sdk = "*"
slackeventsapi = "*"
newsapi-python = "*"
pytest-mock = "*"
Flask = "*"
python-dateutil = "*"
pytz = "*"
pytest = "*"

[requires]
python_version = "3.9"
